<h1>Scrabble Score</h1>
<form action="/rock_paper_scissors">
  <div class="form-group">
    <label for="rock_paper_scissors">What would you like to see in title case?
    </label>
    <input id="rock_paper_scissors" name="rock_paper_scissors" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
