<h1>Just try it</h1>
<form action="/beats?">
  <div class="form-group">
    <label for="beats?">A game for only the most brave. Enter in "rock paper or scissors" if you dare.
    </label>
    <input id="player1" name="player1" class="form-control" type="text" placeholder="Player1">
    <br>
    <input id="player2" name="player2" class="form-control" type="text" placeholder="Player2">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
